<ion-header [translucent]="true" *ngIf="show">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
      {{show.name}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="show">
  <div class="show-container">
    <div class="show-left">
      <img
        src="{{show.image.medium}}"
        class="show-image"
        (click)="openGallery()"
      />
    </div>

    <div class="show-right">
      <h1 class="show-title">{{show.name}}</h1>
      <span class="info">
        <span *ngFor="let genre of show.genres; let last = last">
          {{ genre }}<ng-container *ngIf="!last"> -</ng-container>
        </span>
      </span>
      <span class="info">{{show.language}}</span>
      <span class="info">
        {{formatDate(show.premiered)}} - {{formatDate(show.ended)}}
      </span>
      <span class="info" *ngIf="show.network">{{show.network.name}}</span>
      <div [innerHTML]="show.summary"></div>

      <div class="show-links" *ngIf="show.officialSite || show.url">
        <a
          *ngIf="show.officialSite"
          [href]="show.officialSite"
          title="Visit official website"
          alt="Visit official website"
          ><img src="assets/web.svg"
        /></a>
        <a
          *ngIf="show.url"
          [href]="show.url"
          title="Visit TVmaze website"
          alt="Visit TVmaze website"
          ><img src="assets/tv.svg"
        /></a>
      </div>
    </div>
  </div>

  <app-cast-gallery></app-cast-gallery>
</ion-content>
