.show-container {
  padding: var(--gap-m);

  @media (min-width: 600px) {
    display: flex;
  }
}

.show-left {
  @media (min-width: 600px) {
    flex: 0;
    padding-right: var(--gap-m);
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.show-right {
  flex: 1;
}

.show-image {
  max-width: var(--thumbnail-width);
  cursor: pointer;
}

.info:not(:last-child) {
  margin-right: var(--gap-m);
}

.show-links {
  a:not(:last-child) {
    margin-right: var(--gap-m);
  }

  ion-icon {
    font-size: 30px;
  }
}
