.show-container {
  display: flex;
  padding: var(--gap-m);
}

.show-left {
  flex: 0;
  padding-right: var(--gap-m);
}

.show-right {
  flex: 1;
}

.show-image {
  max-width: var(--thumbnail-width);

  &:hover {
    cursor: pointer;
  }
}

.info:not(:last-child) {
  margin-right: var(--gap-m);
}

.show-links {
  a:not(:last-child) {
    margin-right: var(--gap-m);
  }

  ion-icon {
    font-size: 30px;
  }
}
