<ion-card
  *ngIf="show"
  (click)="showClicked(show.id)"
  [style.background-image]="'url(' + show.image.medium + ')'"
>
  <div
    *ngIf="show.rating.average"
    class="rating"
    [class.good-rating]="show.rating.average >= 7"
    [class.normal-rating]="show.rating.average >= 5 && show.rating.average < 7"
    [class.bad-rating]="show.rating.average < 5"
  >
    {{ show.rating.average }}
  </div>
  <ion-card-header>
    <ion-card-title>{{ show.name }}</ion-card-title>
    <ion-card-subtitle>
      <span *ngFor="let genre of show.genres">
        {{ genre }}
      </span>
    </ion-card-subtitle>
  </ion-card-header>

  <!-- <ion-card-content>
    not used for now
  </ion-card-content> -->
</ion-card>
