<ion-header>
  <ion-toolbar>
    <ion-title> Gallery </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <swiper-container
    #swiper
    navigation="navigation:  {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }"
  >
    <swiper-slide *ngFor="let showImage of showImages">
      <img
        [src]="showImage.resolutions.original.url"
        alt="Show image"
        class="show-image"
        #showImage
      />
    </swiper-slide>
  </swiper-container>
</ion-content>
