<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> TVmaze </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> TVmaze </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let message of getMessages()">
        <app-tv-card [message]="message"></app-tv-card
      ></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
