<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">TVmaze</ion-title>
    <ion-button
      *ngIf="!showSearch"
      slot="end"
      fill="clear"
      (click)="toggleSearch()"
    >
      <ion-icon name="search"> </ion-icon>
    </ion-button>
    <ion-button
      *ngIf="showSearch"
      slot="end"
      fill="clear"
      (click)="toggleSearch()"
    >
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="showSearch">
    <ion-searchbar
      *ngIf="showSearch"
      placeholder="Search show..."
      [(ngModel)]="searchQuery"
      (ionInput)="searchShows($event)"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="toolbar-order info">
    Order by:
    <span (click)="sortShows('name')"
      >Name<ion-icon
        *ngIf="sortName !== undefined"
        [name]="sortName ? 'arrow-up-outline':'arrow-down-outline'"
      ></ion-icon>
    </span>
    -
    <span (click)="sortShows('rating')"
      >Score<ion-icon
        *ngIf="sortRating !== undefined"
        [name]="sortRating ? 'arrow-up-outline':'arrow-down-outline'"
      ></ion-icon></span
  ></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TVmaze</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="shows">
    <ion-row>
      <ion-col *ngFor="let show of shows">
        <app-show-card [show]="show"></app-show-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
